﻿@using System.Web.Mvc
@model PartnerDeclarationPortal.Models.FinacialUpload

<!DOCTYPE html>
<html ng-app="Redington">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - PartnerDeclarationPortal</title>

    <link rel="icon" href="~/Assets/images/favicon.ico" type="image/gif" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
    <link href="~/Assets/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/zerogrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/jquery.toast.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Assets/css/nprogress.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/js/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <base href='@Url.Content("~")'>


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-KZHMBNN');</script>
    <!-- End Google Tag Manager -->

</head>

<body class="sidebar-mini skin-green-light bg-light-gray-inner">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZHMBNN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="javascript:void(0)" class="logo" style="padding-left:5px;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!-- logo for regular state and mobile devices -->
                <img src="~/Assets/images/redington-logo.png" class="redington-logo" alt="Logo"
                     style="max-width:unset !important; margin:3px 0px 0px 0px; width:230px;" />
                <img alt="apple-logo" class="apple-logo-mobile" src="~/Assets/images/apple-logo-black-no-shadow.png" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style="padding:0px;">
                <!-- Sidebar toggle button-->
                <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="inner-header-desktop">
                    <h6 style="">PARTNER PORTAL</h6>
                   
                </div>


                <div class="navbar-custom-menu text-right" ng-app="Redington" ng-controller="Layout">
                    <span class="account-settings pull-left">
                        <span class="company-greeting">Hi </span>
                        <span class="company-name-top ng-binding">
                            @Session["CustomerName"].ToString()
                        </span>
                        <span class="company-name-top ng-binding">
                            <select id="yourinput" name="yourinput" onchange="getselectval(this.value)">
                                <!--<option value="@Session["CustomerCode"]">@Session["CustomerCode"]</option>-->
                                <option ng-repeat="value in names" value="{{value}}">{{value}}</option>
                            </select>
                            <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />
                            <input type="hidden" id="partnercode" value="@Session["partnercode"]" />
                        </span>
                        <span style="display:block">

                        </span>
                    </span>

                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image" style="width:100%; text-align:center">

                    </div>
                </div>


                <ul class="sidebar-menu" data-widget="tree">
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/Profile1?CustomerCode="+@Session["CustomerCode"].ToString())"><i class="fa fa-user-o"></i>Profile</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/Profile?CustomerCode="+@Session["CustomerCode"].ToString())"><i class="fa fa-bar-chart"></i>DashBoard</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/AddressList")"><i class="fa fa-tasks"></i>My Addresses</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/Contact")" target="_blank"><i class="fa fa-address-book"></i>Contact Update</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/PaymentDues?CustomerCode="+@Session["CustomerCode"].ToString()+"&Week=")"><i class="fa fa-credit-card"></i>My Payment Dues</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/PendingCheques")"><i class="fa fa-area-chart"></i> Txn Cheques - Pending</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/OrderHistory")"><i class="fa fa-history"></i> Order History</a></li>

                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Order/UploadFile")"><i class="fa fa-tasks"></i>Financials upload </a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("https://ril-edi.redington.co.in/PartnerDeclaration/Declaration?Email="+@Session["Email"].ToString())" target="_blank"><i class="fa fa-credit-card"></i> Declaration</a></li>
                    <li class=""><a style="padding-left: 30px;" href="@Url.Content("~/Account/ContactUs")" ><i class="fa fa-credit-card"></i> Contact US</a></li>
                    @*<li class="">
            <a style="padding-left: 30px;" href="@Url.Content("https://redingtongroup.com/india/contact-us/")" target="_blank"><i class="fa fa-history"></i> Contact</a>
        </li>
        <li class="">
            <a style="padding-left: 30px;" href=""><i class="fa fa-history"></i> Help</a>
        </li>*@
                    <li class=""><a style="padding-left: 30px;" href="~/Account/Signout"><i class="fa fa-credit-card"></i> Signout</a></li>
                </ul>



            </section>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1></h1>

            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                @RenderBody()

            </section>
        </div>


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright © @DateTime.Now.Year <a href="http://redingtonindia.com" target="_blank">Redington Limited</a>.</strong>
        </footer>

    </div>
</body>

</html>


<script src="~/Assets/js/jquery-1.10.2.min.js"></script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/Assets/js/nprogress.js"></script>
<script src="~/Assets/js/jquery.toast.min.js"></script>
<script src="~/Assets/js/adminlte.min.js"></script>
@*<script src="~/Assets/js/sweetalert.min.js"></script>
    <script src="~/Assets/js/angular-libs/angular.min.js"></script>*@
<script type="text/javascript" src="~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

@RenderSection("Scripts", false)

<script type="text/javascript">

    $(function () {
        $('.date-picker').datepicker({
            format: 'dd-mm-yyyy',
        });
    });

    $(document).ready(function () {
        var ty = document.getElementById("partnercode").value;
        const array = ty.split(',');
        var x = document.getElementById("yourinput");
        if (array.length > 1)
        {
                       x.style.display = "block";
        }
        else {
                      x.style.display = "none";
        }
    });
    function getselectval(val)
    {
             
        window.location.href = "@Url.Action("setsession", "Order")?_session=" + val;
    }

</script>