﻿@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html ng-app="Redington">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - PDP</title>
    <link rel="icon" href="~/Assets/images/favicon.ico" type="image/gif" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Assets/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/zerogrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/nprogress.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all" />
    <script src="~/Assets/js/modernizr-2.6.2.js"></script>
    <base href='@Url.Content("~")'>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-KZHMBNN');</script>
    <!-- End Google Tag Manager -->

    <style type="text/css">
        .category-container {
            display: inline-block;
            margin: 0 auto;
            border: solid 1px #ddd;
            min-width: 120px;
            height: 100px;
            margin: 0px 5px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
        }

        .header-category {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
        }
    </style>

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body class="bg-light-gray" ng-controller="Login">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZHMBNN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>

        <div class="zerogrid">
            <div class="row">
                <div class="col-sm-4 redington-logo-container">
                    <div class="wrap-col">

                        <img alt="redington-logo" src="~/Assets/images/redington-logo.png" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="wrap-col">
                        <h3 class="login-details-title-top">Partner Portal</h3>
                    </div>
                </div>

                <div class="col-sm-4 apple-logo-container">

                </div>
            </div>
        </div>

    </header>


    <section style="background-color:#fff; border: solid 1px #e5e5e5;">

        <div class="zerogrid">

            <div class="row">
                <div class="col-full">
                    <div class="wrap-col">

                        <div class="login-container">

                            <div class="row n-p n-m">

                                <div class="col-sm-7 bg-login-details" id="slider-div">
                                    <div class="ra">
                                        <div id="divImage">
                                            <img src="~/Assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-5" id="login-div">

                                    <div class="wrap-coldf">

                                        <div class="bg-login-gradient">


                                            <form name="frmLogin" class="login-form" novalidate>

                                                <div class="form-group">
                                                    <h4 style="text-align: center;">Login with OTP</h4>
                                                </div>

                                                <div class="form-group" style="position:relative">
                                                    <input type="text" ng-model="Username" ng-required="true" class="form-control" id="Email" />
                                                </div>



                                                <div class="form-group">

                                                    <input type="button" value="Send OTP" class="btn btn-block btn-primary" id="sendOTP" ng-click="submitted=true; (frmLogin.$valid && validateAndLogin())" />

                                                </div>

                                                <div class="form-group">

                                                    <a class="btn btn-success btn-block" href="https://redingtonconnect.com/RILSSO/SAML/InitiateSingleSignOn?returnUrl=http://localhost:57964/ValidateSSO/"
                                                       ng-click="validateSSO()">Click to Login through SSO</a>
                                                </div>

                                                <div id="divOTP" style="display:none;">
                                                    <div class="form-group last mb-4">
                                                        <label for="password">Password</label>
                                                        <input type="password" ng-model="Password" class="form-control" id="password">
                                                    </div>
                                                    <div class="d-flex mb-5 align-items-center" style=" margin-bottom 1rem!important;">
                                                        <span class="ml-auto"><a href="#" class="forgot-pass" onclick='enable()'>Email didn't arrive?</a></span>
                                                    </div>
                                                    <input type="button" value="Log In" class="btn btn-block btn-primary" id="validate" ng-click="ValidateOTP()" />
                                                </div>
                                                <div class="alert alert-primary" id="divAlert" style="display:none;">
                                                    <p id="textAlert"> </p>
                                                </div>
                                            </form>

                                            <div class="progress-indicator" ng-if="shoLoginLoader" style="padding-top:45%; border-radius:10px;">
                                                <div style="display:inline-block; padding:10px;">
                                                    <img alt="" src="~/Assets/images/ajax-loader-1.gif" />
                                                    <br /><br />
                                                    <span style="color:#000; font-weight:500; font-size:12px; font-family:'Roboto',sans-serif; padding:5px 10px;">Please wait...</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="zerogrid">
            <div class="row">
                <div class="col-md-12" style="font-size:12px;">
                    Copyrights &copy; @DateTime.Now.Year. Redington Limited
                </div>
            </div>
        </div>
    </section>



</body>
</html>

<script src="~/Assets/js/jquery-1.10.2.js"></script>
<script src="~/Assets/js/jquery-1.10.2.min.js"></script>
<script src="~/Assets/js/nprogress.js"></script>
<script src="~/Assets/js/bootstrap.min.js"></script>
<script src="~/Assets/js/angular-libs/angular.min.js"></script>
<script src="~/Assets/js/angular-scripts/account-controller.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        NProgress.configure({ parent: '.bg-login-gradient' });

        //seq-next
        setInterval(function () { $(".seq-next").trigger("click") }, 4000);


        swapDiv();
        $(window).resize(function () {
            swapDiv();
        });

        //$("#sendOTP").click(function () {

        //    var f = true;
        //    //var turnover = $("input[name='Turnover']:checked");


        //   // f = getcheckemail($("#Email"), f);
        //    //if (f) {
        //    //    f = checkMail();
        //    //}

        //    //if (f) {
        //        var email = $("#Email").val()
        //        $.ajax({
        //            type: "POST",
        //            url: "Login.aspx/SendOTP",
        //            data: '{arr:"' + email + '"}',
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            //async: false,
        //            //cache: false,
        //            success: function (response) {
        //                //alert(response.d);
        //                if (response.d == "success") {
        //                    $("#divSEND").hide();
        //                    $("#divOTP").show();
        //                    $('#Email').prop('readonly', true);
        //                    //alert("We sent verification code to your email.")
        //                    alertNew("We sent verification code to your email.");
        //                }
        //                else {
        //                    alertNew(response.d);
        //                    //alert(response.d);
        //                }
        //            },
        //            failure: function (response) {
        //                alertNew(response.d);
        //            }
        //        });
        //    //}
        //    //else {
        //    //    alertNew("Invalid Email");
        //    //}
        //    return f;
        //});



        $(".show-pasword").click(function () {

            var input = $("#txtPassword");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                $(this).removeClass("fa fa-eye-slash");
                $(this).addClass("fa fa-eye");
            } else {
                input.attr("type", "password");
                $(this).removeClass("fa fa-eye");
                $(this).addClass("fa fa-eye-slash");

            }

        });
    });

    //function alertNew(arr)
    //{
    //    $("#textAlert").text(arr);
    //    $("#divAlert").fadeIn();
    //    setTimeout(function () {
    //        $("#divAlert").fadeOut();
    //    }, 7000);
    //}

    //function enable()
    //{
    //    $("#divSEND").show();
    //    $("#divOTP").hide();
    //    $('#Email').prop('readonly', false);
    //}
    function getcheck(d, sts) {
        if (sts != false) {
            var spn = d.closest('span');
            if (d.val() == "") {
                d.focus();
                spn.removeClass("labelnone");
                spn.addClass("labelerror");
                sts = false;
            }
            else {
                spn.addClass("labelnone");
                sts = true;
            }
            return sts;
        }
        else {
            return sts;
        }
    }
   
    function swapDiv() {

        if ($(window).width() <= 480) {
            $("#login-div").insertBefore($("#slider-div"));
        }
        else {
            $("#slider-div").insertBefore($("#login-div"));
        }
    }

</script>