﻿body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.bg-light-gray {
    background: url('../images/bg-shape-2.png');
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
}

.bg-light-gray-inner {
    background-image: none !important;
    background-color: #fff !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

header {
    background-color: #fff;
    /*background: url('../images/bg-shape-1.png');*/
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
}


.apple-logo-container {
    text-align: right;
}

.n-m {
    margin: 0px !important;
}

.n-p {
    padding: 0px !important;
}

.login-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 0px;
    border: solid 0px #eeeeee;
    /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);*/
    border-radius: 10px;
    overflow: hidden;
}

.bg-login-details {
    /*background-color: #0eca7e;*/
    background-color: #fff;
    text-align: center;
}

.login-details-title {
    color: #fff;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: -1px;
}

.login-details-title-top {
    color: #171717;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: -1px;
    margin-top: 35px;
    text-align: center;
}

.apple-logo {
    width: 150px;
    margin-top: 25px;
}

.process-flow {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}

    .process-flow p {
        color: #111;
        font-weight: 500;
    }

    .process-flow .line {
        display: block;
        width: 68%;
        margin: 0 auto;
        position: relative;
        top: 20px;
        z-index: 0;
        height: 5px;
        background-color: #111;
    }

    .process-flow i {
        font-style: normal;
        font-size: 14px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
        background-color: #111;
        color: #fff;
        line-height: 35px;
        text-align: center;
        border: solid 1px #111;
        margin-bottom: 10px;
        z-index: 99;
        position: relative;
    }



.bg-login-gradient {
    text-align: center;
    background-color: #f1f1f1;
    /*background: #0A9900; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #0a9900 2%, #2f9926 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #0a9900 2%,#2f9926 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #0a9900 2%,#2f9926 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9900', endColorstr='#2f9926',GradientType=0 );*/ /* IE6-9 */
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    border-radius: 10px;
    /*border-left:solid 1px #ddd;
    border-right:solid 1px #ddd;*/
    border: solid 1px #e5e5e5;
    margin-right: 10px;
    width: 100%;
    max-width: 380px;
    float: right;
    padding: 20px !important;
}

.progress-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.login-title {
    color: #333;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: -0.5px;
    position: relative;
}

    .login-title .line {
        position: absolute;
        bottom: 0px;
        border-bottom: solid 3px #026a38;
        width: 30px;
        display: inline-block;
    }

.login-info {
    color: #525252;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: -0.5px;
    margin-top: 10px;
    line-height: 15px;
    font-size: 13px;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.error {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    width: 100%;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    padding: 5px 10px !important;
    border: solid 1px #026a38 !important;
    border-radius: 0px !important;
    color: #333;
}

    .form-control:focus {
        border: solid 1px #0eaa29 !important;
    }

.form-label {
    color: #074a2a;
    margin: 0px;
    padding: 0px;
    line-height: initial;
    float: left;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 13px;
    background-color: #f1f1f1;
    padding: 0px 0px;
    position: relative;
    top: 0px;
    left: 0px;
    font-weight: 600;
    z-index: 0;
}

.btn-login {
    background-color: #027b16;
    color: #fff !important;
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500 !important;
    border: solid 1px #fff !important;
    font-size: 15px !important;
    padding: 5px 35px !important;
    outline: none !important;
    border-radius: 0px !important;
}


.error {
    color: #b91b00;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left !important;
    /*background-color:#fff;*/
}




.inner-header {
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.account-settings {
    margin-top: 0px;
}

.company-greeting {
    color: #5b5b5b;
    line-height: normal;
}

.company-name-top {
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    color: #333;
    font-size: 14px;
    margin-bottom: 0px;
    display: inline-block;
    line-height: normal;
}

.sign-out {
    text-decoration: none;
    color: #06620c;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    line-height: normal;
    font-size: 13px;
}

.profile-link {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    line-height: normal;
    font-size: 13px;
    text-decoration: none;
}

    .profile-link:hover {
        text-decoration: none;
    }

.address-box {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.cart-icon a {
    text-decoration: none !important;
}

.cart-icon {
    margin: 10px 0px 0px 25px;
    font-size: 30px;
    z-index: 99;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-left: solid 1px #ddd;
    padding-left: 10px;
}

    .cart-icon .count {
        position: relative;
        z-index: 0;
        top: -20px;
        right: 25px;
        font-size: 11px;
        font-family: 'Open Sans',sans-serif !important;
        border-radius: 50%;
        border: solid 1px #0CCA9A;
        background-color: #0CCA9A;
        color: #fff;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 17px;
    }


.top-m-20 {
    margin-top: 20px;
}

h3 {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 400 !important;
}

.nav-box {
    margin: 0;
    margin-top: 0px;
    background-color: #fff;
    /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);*/
    -webkit-box-shadow: 2px 2px 2px 0px rgba(191,191,191,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(191,191,191,1);
    box-shadow: 2px 2px 2px 0px rgba(191,191,191,1);
    width: 90%;
    max-width: 300px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    min-height: 86.8vh;
    background-color: #fff;
    color: #026a38;
}

.nav-title {
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.nav-box-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    color: #026a38;
    margin-top: 20px;
}

    .nav-box-list li {
        border-bottom: solid 1px #ddd;
    }

        .nav-box-list li:last-child {
            border-bottom: solid 0px #ddd;
        }

        .nav-box-list li a {
            text-decoration: none;
            color: #026a38;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            display: block;
            padding: 10px 5px;
        }

            .nav-box-list li a i {
                display: inline-block;
                width: 30px;
            }

            .nav-box-list li a:hover {
                background-color: #D9FFD9;
                color: #003303;
            }


.nav-box-list-noaction {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

    .nav-box-list-noaction li {
        border-bottom: solid 1px #ddd;
    }

        .nav-box-list-noaction li:last-child {
            border-bottom: solid 0px #ddd;
        }

        .nav-box-list-noaction li a {
            text-decoration: none;
            color: #333;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            display: block;
            padding: 10px 5px;
            cursor: default;
        }

            .nav-box-list-noaction li a i {
                display: inline-block;
                width: 30px;
            }

.container-full {
    width: 100% !important;
    max-width: 1366px !important;
    border: solid 1px #ddd;
    position: relative;
}

.category-loader {
    /*position:absolute;
    width:100%;
    min-height:100vh;
    height:100%;
    background-color:rgba(0, 0, 0, 0.25);
    left:0px; top:0px;*/
    text-align: center;
}

    .category-loader img {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }


.category-link {
    text-decoration: none !important;
}

    .category-link > .item-category-container {
        transition: all 200ms;
    }

    .category-link:hover > .item-category-container {
        width: 90%;
    }

.item-category-container {
    width: 80%;
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    min-height: 100px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

    .item-category-container img {
        width: 80%;
    }

.category-name {
    text-align: center;
    /*color: #0CC673;*/
    color: #333;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 10px;
    font-size: 20px;
    /*text-transform: uppercase;*/
}

.product-row {
    border-bottom: solid 1px #ddd;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif !important;
    background-color: #fff;
}

    .product-row a, .product-row a:hover {
        text-decoration: none;
        color: #000;
    }

.product-image {
    /*box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);*/
}

h5.vendor-code {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 10px !important;
}

.item-code {
    font-size: 12px;
    display: inline-block;
    margin-right: 20px !important;
}

.item-name {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px !important;
}

.price-final {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    color: #131313;
}

.price-actual {
    text-decoration: line-through;
    font-size: 11px;
    color: #a70606;
}

.price-offer {
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
}

.txt-qty {
    border: solid 1px #acacac !important;
    width: 100% !important;
    display: inline-block !important;
    height: 30px !important;
    padding: 12px 12px !important;
    box-shadow: none !important;
    margin: 0px;
    text-align: center;
    color: #131313;
}

    .txt-qty:focus {
        border: solid 1px #131313 !important;
    }

.qunatity-container {
    position: relative;
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 12px;
}

.qty-plus {
    margin: 0px;
    border: none;
    padding: 2px;
    position: relative;
    right: 1px;
    top: 1px;
    width: 25px;
    position: absolute;
    outline: none;
    background: #fff !important;
    border: none !important;
    border-radius: 0px !important;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}

.qty-minus {
    margin: 0px;
    border: none;
    padding: 2px;
    position: relative;
    left: 1px;
    top: 1px;
    width: 25px;
    position: absolute;
    outline: none;
    background: #fff !important;
    border: none !important;
    border-radius: 0px !important;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}

.btn-addToCart {
    display: inline-block;
    background: none !important;
    background: #131313 !important;
    border: none !important;
    border-radius: 0px !important;
}

    .btn-addToCart:focus {
        box-shadow: none !important;
    }

    .btn-addToCart:disabled {
        background-color: #adadad !important;
        cursor: not-allowed;
    }

.product-row {
    margin-bottom: 3px;
}

    .product-row h5, .product-row p {
        margin: 0px;
        text-align: left;
    }

.p-0 {
    padding: 0px !important;
}

.slim-scroll-container {
}

.cart-total-container, .cart-details-container {
    width: 100%;
    min-height: 20vh;
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 15px;
}

.btn-place-order {
    background-color: #027b16;
    color: #fff !important;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 500 !important;
    border: solid 1px #fff !important;
    font-size: 15px !important;
    padding: 8px 35px !important;
    outline: none !important;
    border-radius: 0px !important;
    display: block !important;
    width: 100%;
    margin-top: 10px;
}

.sub-total, .discount, .cart-total {
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: 500 !important;
    color: #232323;
}

.sub-total-label, .discount-label, .cart-total-label {
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif !important;
    font-size: 15px;
    font-weight: 400 !important;
    color: #505050;
}


.cart-item-price-final {
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 500;
    font-size: 12px;
    color: #006535;
}

.cart-item-price-offer {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Open Sans',sans-serif !important;
}

.cart-item-price-actual {
    text-decoration: line-through;
    font-size: 12px;
    color: #a70606;
    font-family: 'Open Sans',sans-serif !important;
}

.cart-item-row {
    padding: 10px 0px;
    border-bottom: solid 1px #ddd;
    width: 100%;
    margin: 0 auto !important;
    font-family: 'Open Sans',sans-serif !important;
}

.cart-item-delete {
    font-size: 15px;
    color: #a70606;
    background-color: #fa9e9e;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 2px;
    float: right;
}

.table-condensed > td {
    vertical-align: middle !important;
}


.ic-left-menu {
    cursor: pointer;
}

.page-header {
    margin: 0px 0px 20px 0px !important;
    font-size: 20px !important;
}

.sidebar-menu {
}

    .sidebar-menu li {
        border-bottom: solid 1px #f3f3f3;
    }

        .sidebar-menu li a, .sidebar-menu li:hover a {
            text-decoration: none;
            color: #272727 !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 500 !important;
            font-size: 14px;
        }

        .sidebar-menu li:hover, .sidebar-menu li:hover a {
            /*background-color: #016938;
            color: #fff !important;*/
            background-color: #dedede;
            color: #0e0e0e !important;
        }

        .sub-menu li:hover, .sub-menu li:hover a {
            /*background-color: #016938;
            color: #fff !important;*/
            background-color: #ededed !important;
            color: #006535 !important;
        }

    .sidebar-menu li.active {
        background-color: #dedede;
            color: #0e0e0e !important;
    }

.main-sidebar {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.date-icon {
    position: relative;
}

.form-label-top {
    font-family: 'Roboto',sans-serif;
    font-size: 12.5px;
    color: #656565;
}

.form-select-slim-grey {
    display: block !important;
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #ccc;
    outline: none;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px;
    color: #222;
    position: relative;
}

.form-control-slim-grey {
    display: block !important;
    width: 100%;
    padding: 6px 10px;
    border: solid 1px #ccc;
    outline: none;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px;
    color: #222;
    position: relative;
}

.form-control-select {
    display: block !important;
    width: 100%;
    padding: 8px 10px;
    border: solid 1px #026a38;
    outline: none;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-size: 15px;
    color: #333;
    position: relative;
}

    .form-control-select:disabled {
        opacity: 0.5;
        position: relative;
        background-image: url('../images/ajax-loader-1.gif');
        background-repeat: no-repeat;
        background-position: right center;
    }

    .form-control-select::after:disabled {
        position: absolute;
        right: 0px;
        top: 0px;
        content: "";
        display: inline-block;
        width: 45px;
        height: 45px;
    }

.btn:disabled {
    cursor: not-allowed !important;
}

fieldset.address {
    display: block;
    border: solid 1px #0CCA9A !important;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    margin: 10px 0px 15px 0px;
    font-size: 13px;
}

    fieldset.address legend {
        display: inline-block !important;
        border: none !important;
        width: unset;
        padding: 0px 10px;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 15px;
        font-weight: 600 !important;
        margin: 0px;
        background-color: #fff;
        margin-top: 10px;
        border: solid 1px #0CCA9A !important;
        border-bottom: none !important;
        position: relative;
        top: -10px;
        border-radius: 2px;
    }


.order-status {
    background-color: #fff;
    padding: 20px;
    /*box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);*/
    border-radius: 4px;
    text-align: center;
}

.order-success {
    border: solid 1px #c4e8d7;
    background-color: #eafff5;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 500 !important;
    color: #004624;
}

.order-nummber {
    display: block;
    margin: 10px 0px;
    font-weight: 600 !important;
}

.wrap-col {
}

.wrap-col-10px {
}

.order-failed {
    border: solid 1px #8d0d0d;
    background-color: #ffdede;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 500 !important;
    color: #480b0b;
}


.order-summary-container {
    border: solid 1px #ddd;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.order-summary-title {
    border-bottom: solid 1px #ddd;
    margin: 0px;
    padding: 15px 10px;
    font-size: 20px;
}

.success-icon {
    width: 40px;
    height: 40px;
    line-height: 39px;
    border-radius: 50%;
    border: solid 1px #006535;
    color: #006535;
    margin: 0 auto;
    display: inline-block;
}

.order-summary-label {
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;
    color: #444;
    font-weight: 400;
    margin-bottom: 10px;
}

.order-summary-label-2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    margin-bottom: 10px;
}

.order-summary-text-2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #373737;
    font-weight: 400;
    margin-bottom: 10px;
}

.form-control-inline {
    display: inline-block !important;
    position: relative;
}

.input-date {
    width: 120px !important;
    position: relative;
    padding-right: 25px !important;
}

.date-icon i {
    position: absolute;
    right: 5px;
    top: 10px;
}



.inner-header-desktop h6 {
    display: inline-block;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    margin-top: 15px;
}

.apple-logo-mobile {
    display: none;
}

.app-link {
    color: #000;
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

    .app-link img {
        border: solid 1px #ddd;
        width: 100%;
    }

    .app-link p {
        margin-bottom: 0px;
        color: #3d3d3d;
    }

    .app-link:hover {
        text-decoration: none;
        color: #000;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    }

.app-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    transition: all 200ms;
}

    .app-container:hover {
        width: 420px;
    }

.product-name-code {
    color: #555;
}

.product-desc {
    margin-top: 20px;
}

    .product-desc span {
        font-weight: 500;
        font-family: 'Roboto',sans-serif;
        font-size: 15px;
        color: #333;
    }

    .product-desc p {
        font-size: 14px;
        color: #555;
    }

.product-details-image {
    padding: 20px;
    background-color: #f7f7f7;
    color: #fff;
    /*border: solid 1px #f2f2f2;*/
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-height: 400px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    overflow: hidden;
}

.ribbon {
    width: 120px;
    height: 80px;
    overflow: hidden;
    position: absolute;
}

    .ribbon::before,
    .ribbon::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9;
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 220px;
        padding: 5px 0;
        background-color: #009046;
        /*box-shadow: 0 5px 10px rgba(0,0,0,.1);*/
        color: #fff;
        font: 700 10px/1 'Roboto', sans-serif;
        /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
        text-transform: uppercase;
        text-align: center;
    }

        .ribbon span.no-stock {
            position: absolute;
            display: block;
            width: 220px;
            padding: 5px 0;
            background-color: #a70606;
            /*box-shadow: 0 5px 10px rgba(0,0,0,.1);*/
            color: #fff;
            font: 700 10px/1 'Roboto', sans-serif;
            /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
            text-transform: uppercase;
            text-align: center;
        }

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}

    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-left-color: transparent;
    }

    .ribbon-top-left::before {
        top: 0;
        right: 0;
    }

    .ribbon-top-left::after {
        bottom: 0;
        left: 0;
    }

    .ribbon-top-left span {
        right: -25px;
        top: 24px;
        transform: rotate(-45deg);
    }


.price-final-details {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    color: #131313;
}

.price-actual-details {
    text-decoration: line-through;
    font-size: 15px;
    color: #a70606;
}

.price-offer-details {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
}

.main-footer {
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 300 !important;
}


.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    font-weight: 600 !important;
    font-size: 15px;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    font-weight: 500;
    font-size: 15px;
    padding: 3px 10px;
}

.stats-box {
    border-radius: 3px;
    color: #fff;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

    .stats-box h3 {
        font-weight: 300 !important;
        font-family: 'Roboto',sans-serif !important;
    }

.p-10 {
    padding: 10px;
}

.box-chart {
    min-height: 140px;
}

.canvasjs-chart-credit {
    display: none !important;
}

.stat-box-img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

.box-purple {
    background: rgb(47,62,158);
    background: linear-gradient(90deg, rgba(47,62,158,1) 0%, rgba(52,101,209,1) 100%);
    position: relative;
}


.box-red {
    background-color: rgb(210, 46, 46);
}

.box-green {
    background: rgb(55,141,59);
    background: linear-gradient(90deg, rgba(55,141,59,1) 0%, rgba(95,164,98,1) 100%);
}

.box-cyan {
    background: rgb(0,150,166);
    background: linear-gradient(90deg, rgba(0,150,166,1) 0%, rgba(51,171,184,1) 100%);
}

.box-light-cyan {
    background: rgb(0,187,211);
    background: linear-gradient(90deg, #44DEC5 0%, #4eb7a7 100%);
    /*background-image:url('../images/Status block.png');
    background-size:100%;
    background-repeat:no-repeat;*/
}

.box-warning {
    background: rgb(254,151,0);
    background: linear-gradient(90deg, rgba(254,151,0,1) 0%, rgba(204,121,0,1) 100%);
}

.box-danger {
    background: rgb(243,66,53);
    background: linear-gradient(90deg, rgba(243,66,53,1) 0%, rgba(158,37,28,1) 100%);
}

.box-grey {
    background: rgb(96,96,96);
    background: linear-gradient(90deg, rgba(96,96,96,1) 0%, rgba(68,66,66,1) 100%);
}



.address-select-container {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 15px;
    margin-bottom: 20px;
}

.datepicker-switch, .dow {
    font-weight: 500 !important;
}

.datepicker {
    z-index: 999999 !important;
    font-family: 'Roboto',sans-serif;
    font-size: 85% !important;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    font-size: 13px !important;
    vertical-align: middle !important;
}

.upload-cart-link {
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none !important;
}

.btn-download {
    background-color: #28A745;
    color: #fff;
    outline: 0 !important;
}

    .btn-download:hover, .btn-download:focus {
        box-shadow: 0 5px 15px rgba(40, 167, 69, .4) !important;
    }


.current-category {
    position: relative;
    background-color: #DEDEDE;
    padding: 2px 10px;
    margin-right: 10px;
}

    .current-category:after {
        /*content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #DEDEDE;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 100%;
    z-index: 2;*/
    }

.nav-top {
    width: 80.7%;
    position: absolute;
    top: 90px;
    text-align: center;
}

    .nav-top ul {
        margin: 0px auto;
        padding: 0px;
        list-style: none;
        display: inline-block;
    }

        .nav-top ul li {
            display: inline-block;
            border-right: solid 1px #2a853f;
            padding: 2px 10px;
            background-color: #28A745;
            color: #fff !important;
            font-family: 'Roboto', sans-serif;
            font-size: 13.5px;
            margin: 0px !important;
            float: left;
        }

            .nav-top ul li:last-child {
                border-right: solid 0px #2a853f;
            }

            .nav-top ul li a {
                color: #fff;
            }




.swal-icon--error__line {
    position: absolute;
    height: 5px;
    width: 25px;
    background-color: #f27474;
    display: block;
    top: 12px;
    border-radius: 2px;
}

.swal-icon--error__line--left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 3px;
}

.swal-icon--error__line--right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 3px;
}

.swal-icon {
    width: 30px;
    height: 30px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 10px auto;
}

    .swal-icon:first-child {
        margin-top: 12px;
    }

.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    /* padding: 13px 16px; */
    font-size: 27px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.swal-button {
    background-color: #7cd1f9;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 24px;
    margin: 0;
    cursor: pointer;
}

.upload-loader-container {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 150px 20px 20px;
}


.profile-inr {
    font-size: 15px !important;
}

.profile-list {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

    .profile-list b {
        font-weight: 500 !important;
    }

.profile-email {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.payment-box span {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500 !important;
}

.paymentdue-title {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 400 !important;
}

.payment-due-link {
    text-decoration: none;
}

    .payment-due-link:hover {
        text-decoration: none;
    }

.invoice {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.table-demands > td {
    padding: 5px 5px !important;
}

.ui-jqgrid-view {
    font-family: 'Roboto',sans-serif;
    border: solid 1px #ddd;
}

.ui-jqgrid-htable {
    font-size: 14px;
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500 !important;
    text-align: left !important;
    border: solid 1px #ddd;
}

.ui-jqgrid-labels {
    border-bottom: solid 1px #ddd !important;
}

.ui-jqgrid-htable th {
    padding: 4px 4px !important;
    font-size: 14px !important;
    font-family: 'Roboto',sans-serif !important;
    font-weight: 500 !important;
    text-align: left !important;
    border-bottom: solid 1px #ddd !important;
    border-right: solid 1px #ddd !important;
    background-color: #f3f3f3;
}

.ui-pg-table {
    font-family: 'Roboto',sans-serif !important;
    font-size: 13px;
    padding: 5px 0px 0px !important;
}

.ui-pg-input {
    padding: 6px 5px !important;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto',sans-serif !important;
    border: solid 1px #ddd !important;
}

.ui-pg-selbox {
    padding: 5px 5px !important;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto',sans-serif !important;
    border: solid 1px #ddd !important;
}

#next_pager, #last_pager, #prev_pager, #first_pager {
    padding: 2px 10px !important;
    border: solid 1px #ddd !important;
    font-weight: bold !important;
    font-size: 18px !important;
    outline: none !important;
}

    #next_pager.ui-state-disabled, #last_pager.ui-state-disabled, #prev_pager.ui-state-disabled, #first_pager.ui-state-disabled {
        background-color: #ffffff !important;
        color: #d0d0d0 !important;
        border: solid 1px #eaeaea !important;
    }

    #next_pager:hover, #last_pager:hover, #prev_pager:hover, #first_pager:hover {
        border: solid 1px #ddd !important;
        padding: 2px 10px !important;
        background-color: #f3f3f3;
    }



@media only screen and (max-width: 768px) {

    /*.bg-login-gradient{
        height:35vh !important;
    }

    .login-form{
        width:100%;
    }
    .login-container,.bg-login-details{
        min-height:35vh !important;
        height:35vh !important;
    }

    .seq .seq-model{
        width:35% !important;
        margin-left:100px !important;
    }*/

}


@media only screen and (max-width: 480px) {

    header {
        background: none;
    }

    .apple-logo-container, .redington-logo-container {
        text-align: center !important;
    }

    .main-header {
        max-height: 175px !important;
    }

    .sidebar-menu {
        margin-top: 40px !important;
    }

    .inner-header-desktop {
        text-align: center;
    }

    .main-header .sidebar-toggle {
        height: unset !important;
        padding: 5px 15px;
    }

    .redington-logo {
        width: 190px !important;
        margin: 0px !important;
    }

    .apple-logo-mobile {
        display: inline-block;
        width: 60px !important;
        padding-left: 20px;
    }

    .inner-header-desktop img {
        width: 40px !important;
        display: none;
        margin: 0 auto !important;
    }

    .inner-header-desktop h6 {
        display: inline-block;
        font-weight: 500;
        font-family: 'Roboto',sans-serif;
        margin-top: 0px;
    }

    .navbar-custom-menu {
        width: 100%;
        padding: 5px 0px;
        border-top: solid 1px #ddd;
    }

    .login-details-title-top {
        margin-top: 0px;
    }


    .login-form {
        width: 100%;
    }

    .account-settings {
        max-width: 65%;
        font-size: 13px !important;
    }

    .company-name-top {
        font-size: 13px !important;
        border-bottom: solid 1px #ddd;
        padding-bottom: 5px;
    }

    .company-greeting {
        display: none;
    }
    /*.bg-login-details {
        display: none;
    }

    .bg-login-gradient {
        height: 45vh !important;
    }

    .login-container, .bg-login-details {
        min-height: 45vh !important;
        height: 45vh !important;
    }
    */
    .process-flow .line {
        display: none;
    }

    #slider-div {
        display: none;
    }
}
