:root {

    /* sizing */
    --padding-top:50px;

    --margin-top:50px;
    --margin-bottom:50px;

    /* colors */
    --white:#fff;
    --black2:#28292B;
    --green:#267F35;
    --green2:#5AA941;
    --green3:#4FB155;
    --grey: #707070;
    --grey2: #3C3C3C;
    --grey3:#EDEEF0;
    --grey-4:#f0f3f8;
    --grey-5:#535353;
    --grey-6:#DCE0E4;

}

body{
    background: var(--grey-4) !important;
}
.primary-font{
    font-family: 'Open Sans', sans-serif;
}
.re-nav__logo{
    width: 70px;
}
.re-nav__logo-mobile{
    display: none;
}
.re-nav__call-img{
    width: 15px;
}
.re-navbar{
    background: var(--white);
    border-bottom: 2px solid #70707052;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.re-nav__back{
    border: 1px solid var(--grey);
    padding: 15px 20px;
    color: var(--grey);
    font-size: 16px !important;
    /* font-weight: 600; */
}
.re-nav__logo{
    width: 120px;
}
.re-nav__number{
    color: var(--grey);
    font-size: 16px;
}
.re-wrong__page{
    height: 100vh;
    display: flex;
    align-items: center;
}
.re-wrong__image{
    width: 150px;
}
.re-wrong__title{
    font-size: 54px;
    font-weight: bold;
    color: var(--grey);
    opacity: 70%;
}
.re-wrong__description{
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 40px;
}
.re-wrong__btn{
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    background: var(--green3);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 2px;
}
.re-wrong__btn:hover{
    color: var(--white);
}

.re-footer__section{
    background-color: var(--black2);
    padding: 20px;
}
.re-footer__copyright{
    color: var(--grey-6);
}
.re-footer__copyright-link{
    color: var(--grey-6);
}







@media all and (max-width:768px){
    .re-nav__logo{
        display: none;
    }
    .re-nav__logo-mobile{
        display: block !important;
        width: 20px;
    }
    .re-nav__back{
        font-size: 10px !important;
    }
    .re-nav__number{
        font-size: 12px;
    }
    .re-wrong__title{
        font-size: 24px;
    }
    .re-footer__copyright{
        font-size: 12px;
        text-align: center;
    }
    .re-footer__reverse{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}