﻿@{
    ViewBag.Title = "My Addresses";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<div class="col-full" ng-controller="Partner_AddressList" style="position:relative;">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <h3 class="page-header" style=""><i class="fa fa-user-o" aria-hidden="true"></i>
        My Addresses ({{AddressDetails.length}})
    </h3>


    <div class="row">

        <div class="col-md-6 " ng-repeat="address in AddressDetails track by $index">
            <div class="wrap-col">
                <div class="address-box">
                    <strong>{{address.Delivery_Sequence}}</strong> <br />
                    {{address.Address1}} <br />
                    {{address.Address2}} <br />
                    {{address.Address3}} <br />
                    {{address.Address4}}-{{address.PIN_Code}}
                </div>
            </div>
        </div>



    </div>



</div>



@section Scripts{
<script src="~/Assets/js/angular-libs/angular.min.js"></script>

    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");

        });

    </script>
}


