﻿@{
    ViewBag.Title = "CDSView";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />


<div class="col-full" style="position:relative;" ng-controller="Partner_CDSView">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> CDS</h3>
            <div class="box-tools pull-right">

                @*<div class="form-control-inline date-icon">
                        <input type="text" class="form-control input-date date-picker dateFrom" ng-model="dateFrom" />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="form-control-inline  date-icon">
                        <input type="text" class="form-control input-date date-picker dateTill" ng-model="dateTill" />
                        <i class="fa fa-calendar"></i>
                    </div>
                    <button class="btn btn-success btn-sm btn-search" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                        &nbsp;<i class="fa fa-search"></i> &nbsp; SEARCH
                    </button>
                    &nbsp;*@
                <button class="btn btn-success btn-sm" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative"
                        ng-click="">
                    &nbsp;<i class="fa fa-download"></i> &nbsp; CDS Upload
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 table-responsive">

                    <table class="table table-striped" style="border:solid 1px #bde4bc">
                        <thead style="background-color:#bde4bc">
                            <tr>
                                <th>CUSTOMER_CODE</th>
                                <th>CUSTOMER_NAME</th>
                                <th>DOCUMENT_NO</th>
                                <th>DOCUMENT_TYPE</th>
                                <th>DOCUMENT_DATE</th>
                                <th class="text-right">OS_AMOUNT</th>
                                <th>CUSTOMER_PROFILE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DownloadedDetails)
                            {
                                <tr>
                                    <td>@item.CUSTOMER_CODE</td>
                                    <td>@item.CUSTOMER_NAME</td>
                                    <td>@item.DOCUMENT_NO</td>
                                    <td>@item.DOCUMENT_TYPE</td>
                                    <td>@item.DOCUMENT_DATE</td>
                                    <td>@item.OS_AMOUNT</td>
                                    <td>@item.CUSTOMER_PROFILE</td>
                                </tr>
                            }




                        </tbody>
                    </table>

                    @*<table id="jqGridCDS" class="table table-bordered table-demands"></table>
                        <div id="pager"></div>*@

                </div>
                <!-- /.col -->
            </div>


        </div>
    </div>

</div>


@section Scripts{

    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        debugger;


    </script>


}

