﻿@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}



<div class="col-full" style="position:relative;" ng-controller="OrderDetails">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> Order Details</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">

            <section class="invoice">
                <!-- title row -->
                <div class="row invoice-info" style="border:solid 1px #bde4bc; margin-bottom:10px; padding:10px 0px;">
                    <div class="col-md-6 invoice-col">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                Order Number
                            </div>
                            <div class="col-md-6">
                                <strong>{{Order.OrderNumber}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right">
                                Order Date
                            </div>
                            <div class="col-md-6">
                                <strong>{{Order.OrderDate}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 invoice-col">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                Invoice Number
                            </div>
                            <div class="col-md-6">
                                <strong>{{Order.InvoiceNumber}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right">
                                Invoice Date
                            </div>
                            <div class="col-md-6">
                                <strong>{{Order.InvoiceDate}}</strong>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- info row -->
                <div class="row" style="border:solid 1px #bde4bc; margin-bottom:10px;">
                    <div class="col-sm-6" style="border-right:solid 1px #a8d3a7; padding:0px;">
                        <div style="background-color:#bde4bc; padding:5px">
                            <strong>Billing Address</strong>
                        </div>
                        <address style="padding:10px;">
                            {{Order.BillingAddress1}}<br />
                            {{Order.BillingAddress2}}<br />
                            {{Order.BillingAddress3}}<br />
                            {{Order.BillingAddress4}}<br />
                            {{Order.BillingAddress5}}-{{Order.BillingAddress7}}
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6" style="padding:0px;">
                        <div style="background-color:#bde4bc; padding:5px">
                            <strong>Shipping Address</strong>
                        </div>
                        <address style="padding:10px;">
                            {{Order.DeliveryAddress1}} <br />
                            {{Order.DeliveryAddress2}}<br />
                            {{Order.DeliveryAddress3}}<br />
                            {{Order.DeliveryAddress4}}<br />
                            {{Order.DeliveryAddress5}}-{{Order.DeliveryAddress7}}
                        </address>
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped" style="border:solid 1px #bde4bc">
                            <thead style="background-color:#bde4bc">
                                <tr>
                                    <th>Qty</th>
                                    <th>Item Code</th>
                                    <th>Vendor Part Code</th>
                                    <th>Item Description</th>
                                    <th class="text-right">Unit Price</th>
                                    <th class="text-right">TAX</th>
                                    <th class="text-right">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Order.Data track by $index" style="border-bottom:solid 1px #bde4bc !important">
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Item_Code}}</td>
                                    <td>{{item.Item_VendorCode}}</td>
                                    <td>{{item.Product_Name}}</td>
                                    <td class="text-right">{{item.Unit_Price | number : 2}}</td>
                                    <td class="text-right">{{item.LVAT12 | number : 2}}</td>
                                    <td class="text-right">{{(item.Unit_Price * item.Quantity) | number : 2}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td class="text-right"><strong>{{Order.OrderTotal | number : 2}}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>



        </div>
    </div>



</div>


@section Scripts{
 <script src="~/Assets/js/angular-libs/angular.min.js"></script>

    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");

        });

    </script>

}