﻿
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />


<div class="col-full" style="position:relative;" ng-controller="Partner_OrderHistory">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> My Orders</h3>
            <div class="box-tools pull-right">

                <div class="form-control-inline date-icon">
                    <input type="text" class="form-control input-date date-picker dateFrom" ng-model="dateFrom" />
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="form-control-inline  date-icon">
                    <input type="text" class="form-control input-date date-picker dateTill" ng-model="dateTill" />
                    <i class="fa fa-calendar"></i>
                </div>
                <button class="btn btn-success btn-sm btn-search" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-search"></i> &nbsp; SEARCH
                </button>
                &nbsp;
                <button class="btn btn-success btn-sm" ng-click="downloadSerialNumbers()" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-download"></i> &nbsp; DOWNLOAD 
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <table id="jqGridMyOrders" class="table table-bordered table-demands"></table>
                    <div id="pager"></div>
                </div>

            </div>

        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

                       var DateObj = new Date();
            DateObj.setDate(DateObj.getDate() - 7);
            var OrderFrom = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            DateObj = new Date();
            DateObj.setDate(DateObj.getDate());
            var OrderTill = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            $(".dateFrom").val(OrderFrom);
            $(".dateTill").val(OrderTill);

            $(".btn-search").click(function () {
                debugger;
                //alert($(".dateTill").val());
                //$('#jqGridDemandsList').trigger('reloadGrid');

                $("#jqGridMyOrders").jqGrid('setGridParam', {
                    url: '@Url.Content("~/api/Order/GetOrderHistory")',
                    mtype: 'GET',
                    postData: { 'dateFrom': $(".dateFrom").val(), 'dateTill': $(".dateTill").val(), 'customerCode': $("#hfCustomerCode").val() }
                }).trigger('reloadGrid');

            });

        });


        function getQueryStringParameter(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            return match && decodeURIComponent(match[1].replace(/\+/g, " "));
        }

        $(document).ready(function () {

            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });

        });

        function _hyperLink(cellvalue, options, rowObject) {
            var baseUrl = $('base').attr('href');
            var _invoiceDetailsUrl = baseUrl + "Order/OrderDetails?OrderNumber=" + cellvalue;
            return $("<a href='" + _invoiceDetailsUrl + "' style='text-decoration:underline; color:#1887c7'target=\"_blank\"  onclick=\"javascript:window.location='" + _invoiceDetailsUrl + "'  \">" + cellvalue + "</a>").prop('outerHTML');
        }

        function _invoiceLink(cellvalue, options, rowObject) {

            if (cellvalue.toString().includes("*")) {
                var _invoiceDetailsUrl = "https://edi.redingtonb2b.in/SAPInvoiceViewer/?InvoiceNo=" + cellvalue.replace("*", "");
                return $("<a href='" + _invoiceDetailsUrl + "' target='_blank' style='text-decoration:underline; color:#1887c7' \">" + cellvalue.replace("*","") + "</a>").prop('outerHTML');
            } else {
                return $("<span>" + cellvalue + "</span>").prop('outerHTML');
            }
        }

        function fetach() {
           
            $(function () {
            NProgress.start();
                var currids = [];
                
            $("#jqGridMyOrders").jqGrid({
                //url:'/api/Order/GET_Dashboard',
                url: '@Url.Content("~/api/Order/GetOrderHistory")',
                datatype: 'json',
                mtype: 'GET',

                datatype: 'json',
                mtype: 'GET',
                //table header name
                colNames: ['Order Number', 'Order Date', 'Invoice Number', 'Invoice Date', 'Total Amount', 'Status', 'POD Date', 'POD Available'],
                //colModel takes the data from controller and binds to grid
                colModel: [{ name: "Order_Number" }, { name: "Order_Date" }, { name: "Invoice_Number", formatter: _invoiceLink },
                { name: "Invoice_Date" }, {
                    name: "Order_Value", align: 'right'
                    , sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' }
                    }, { name: "Order_Status" }, { name: "POD_Date" }, { name: "POD_Available" }],
                viewrecords: true,
                rowNum: 20,
                rowList: [20, 30, 50],
                rownumbers: true,
                rownumWidth: 50,
                //multiselect: true,
                postData: { 'dateFrom': $(".dateFrom").val(), 'dateTill': $(".dateTill").val(), 'customerCode': $("#hfCustomerCode").val() },
                jsonReader:
                {
                    root: "Data",
                    page: "PageNumber",
                    total: "TotalPages",
                    records: "TotalRecords",
                    repeatitems: false,
                    Id: "0"
                },
                loadonce: true,
                multiSort: true,
                emptyrecords: 'No records found',
                loadui: 'disable',
                autowidth: true,
                pager: jQuery('#pager'),
                onSelectRow: function (a, b, c) {
                    if (this.p.selarrrow.length === currids.length) {
                        $('#cb_' + $.jgrid.jqID(this.p.id), this.grid.hDiv)[this.p.useProp ? 'prop' : 'attr']("checked", true);
                    }
                },

                gridComplete: function () {
                    currids = $(this).jqGrid('getDataIDs');
                },
                 loadComplete: function () {
                     $(".ui-icon-seek-next").html("<i class='fa fa-angle-right'></i>");
                     $(".ui-icon-seek-end").html("<i class='fa fa-angle-double-right'></i>");

                     $(".ui-icon-seek-prev").html("<i class='fa fa-angle-left'></i>");
                     $(".ui-icon-seek-first").html("<i class='fa fa-angle-double-left'></i>");

                     //Set Open color
                     $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                         //$(this).parent().css('background', 'red');
                     });

                     //Set Closed Color
                     $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                         $(this).parent().css('background', '#ACE8AA');
                     });

                     //Set Partially Billed Color
                     $('td[title="Partially Billed"]', '#jqGridDemandsList').each(function (i) {
                         $(this).parent().css('background', '#F8FFB9');
                     });

                     //Set Partially Billed Color
                     $('td[title="Invoiced"]', '#jqGridDemandsList').each(function (i) {
                         $(this).parent().css('background', '#F8FFB9');
                     });

                     //Set Expired Color
                     $('td[title="Expired"]', '#jqGridDemandsList').each(function (i) {
                         $(this).parent().css('background', '#FFC6C4');
                     });

                    NProgress.done();
                }
            }).navGrid('#pager', {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                closeAfterSearch: false
            });
            jQuery("#jqGridMyOrders").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        });
        }

        fetach();

        //$('.btn-search').click(function () {
        //    debugger;
        //    fetach();
        //});


    </script>
}

