﻿
@{
    ViewBag.Title = "PartnerEnquiry";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}




<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />


<div class="col-full" style="position:relative;" ng-controller="Partner_ProfileDetails">

    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />
    <input type="hidden" id="Tag" value="@Request.Params["Tag"]" />
    <input type="hidden" id="Fromdate" value="@Request.Params["Fromdate"]" />
    <input type="hidden" id="ToDate" value="@Request.Params["ToDate"]" />
    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> My Orders</h3>
            <div class="box-tools pull-right">

                <div class="form-control-inline date-icon">
                    <input type="text" class="form-control input-date date-picker dateFrom" ng-model="dateFrom" />
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="form-control-inline  date-icon">
                    <input type="text" class="form-control input-date date-picker dateTill" ng-model="dateTill" />
                    <i class="fa fa-calendar"></i>
                </div>
                <button class="btn btn-success btn-sm btn-search" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-search"></i> &nbsp; SEARCH
                </button>
                &nbsp;
                <button class="btn btn-success btn-sm" ng-click="downloadParterSerialNumber()" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-download"></i> &nbsp; DOWNLOAD
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">
                        <span class="company-name-top ng-binding">
                            @Request.Params["Tag"].ToString()
                        </span>
                    </h3>
                    <table id="jqGridMyOrders" class="table table-bordered table-demands"></table>
                    <div id="pager"></div>
                </div>

            </div>

        </div>
    </div>

</div>




@section Scripts{

    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });
            var DateObj = new Date();
            DateObj.setDate(DateObj.getDate() - 7);
            var OrderFrom = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            DateObj = new Date();
            DateObj.setDate(DateObj.getDate());
            var OrderTill = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            $(".dateFrom").val(OrderFrom);
            $(".dateTill").val(OrderTill);


        });



        $(function () {
            NProgress.start();
            var currids = [];

            $("#jqGridMyOrders").jqGrid({
                //url:'/api/Order/GET_Dashboard',
                url: '@Url.Content("~/api/Order/GetDashboardDetails")',
                datatype: 'json',
                mtype: 'GET',

                colNames: ['Customer RefNo','InvoiceNo', 'InvoiceDate','Ship To City' ,'MaterialGroupDesc', 'BilledQuantity', 'Total Amount'],

                colModel: [{ name:"CustomerReference"},{ name: "InvoiceNo" }, {
                    name: "InvoiceDate", formatter: 'date', formatoptions: { newformat: 'd/m/y' }
                }, { name: "ShipToCity" }, { name: "MaterialGroupDesc" },
                    { name: "BilledQuantity", align: 'center', sorttype: 'number' }, { name: "NetValue", sorttype: 'number',align: 'right', formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' } }],
                             viewrecords: true,
                rowNum: 20,
                rowList: [20, 30, 50],
                rownumbers: true,
                rownumWidth: 50,
                //multiselect: true,
                postData: { 'CustomerCode': $("#hfCustomerCode").val(), '_Fromdate': $("#Fromdate").val(), '_todate': $("#ToDate").val(), 'tag': $("#Tag").val() },
                jsonReader:
                {
                    root: "Data",
                    page: "PageNumber",
                    total: "TotalPages",
                    records: "TotalRecords",
                    repeatitems: false,
                    Id: "0"
                },
                loadonce: true,
                multiSort: true,
                emptyrecords: 'No records found',
                loadui: 'disable',
                autowidth: true,
                pager: jQuery('#pager'),
                onSelectRow: function (a, b, c) {
                    if (this.p.selarrrow.length === currids.length) {
                        $('#cb_' + $.jgrid.jqID(this.p.id), this.grid.hDiv)[this.p.useProp ? 'prop' : 'attr']("checked", true);
                    }
                },

                gridComplete: function () {
                    currids = $(this).jqGrid('getDataIDs');
                },
                 loadComplete: function () {
                    $(".ui-icon-seek-next").html("<i class='fa fa-angle-right'></i>");
                    $(".ui-icon-seek-end").html("<i class='fa fa-angle-double-right'></i>");

                    $(".ui-icon-seek-prev").html("<i class='fa fa-angle-left'></i>");
                    $(".ui-icon-seek-first").html("<i class='fa fa-angle-double-left'></i>");

                    //Set Open color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        //$(this).parent().css('background', 'red');
                    });

                    //Set Closed Color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#ACE8AA');
                    });

                    //Set Partially Billed Color
                    $('td[title="Partially Billed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#F8FFB9');
                    });

                    //Set Partially Billed Color
                    $('td[title="Invoiced"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#F8FFB9');
                    });

                    //Set Expired Color
                    $('td[title="Expired"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#FFC6C4');
                    });

                    NProgress.done();
                }
            }).navGrid('#pager', {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                closeAfterSearch: false
            });
            jQuery("#jqGridMyOrders").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        });




    </script>
}




