﻿@{
    ViewBag.Title = "My Payment Dues";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}
<style>
    .dbox {
        position: relative;
        background: rgb(255, 86, 65);
        background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
        background: linear-gradient(to bottom, #008000 0%, #66ff99 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
        border-radius: 10px;
        text-align: center;
        margin: 60px 0 50px;
    }

    .dbox__icon {
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }

        .dbox__icon:before {
            width: 75px;
            height: 75px;
            position: absolute;
            background: #fda299;
            background: rgba(253, 162, 153, 0.34);
            content: '';
            border-radius: 50%;
            left: -17px;
            top: -17px;
            z-index: -2;
        }

        .dbox__icon:after {
            width: 60px;
            height: 60px;
            position: absolute;
            background: #f79489;
            background: rgba(247, 148, 137, 0.91);
            content: '';
            border-radius: 50%;
            left: -10px;
            top: -10px;
            z-index: -1;
        }

        .dbox__icon > i {
            background: #ff5444;
            border-radius: 50%;
            line-height: 40px;
            color: #FFF;
            width: 40px;
            height: 40px;
            font-size: 22px;
        }

    .dbox__body {
        padding: 70px 40px ;
              text-align:center;
    }

    .dbox__count {
        display: block;
        font-size: 30px;
        color: #FFF;
        font-weight: 500;
    }

    .dbox__title {
        font-size: 20px;
        color: black;
        color: rgba(255, 255, 255, 0.81);
    }

    .dbox__action {
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        left: 50%;
    }

    .dbox__action__btn {
        border: none;
        background: #FFF;
        border-radius: 19px;
        padding: 7px 16px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 11px;
        letter-spacing: .5px;
        color: #003e85;
        box-shadow: 0 3px 5px #d4d4d4;
    }


    .dbox--color-2 {
        background: rgb(252, 190, 27);
        background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
        background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
        background: linear-gradient( 90deg, rgba(55,141,59,1) 0%, rgba(95,164,98,1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
    }

        .dbox--color-2 .dbox__icon:after {
            background: #fee036;
            background: rgba(254, 224, 54, 0.81);
        }

        .dbox--color-2 .dbox__icon:before {
            background: #fee036;
            background: rgba(254, 224, 54, 0.64);
        }

        .dbox--color-2 .dbox__icon > i {
            background: #fb9f28;
        }

    .dbox--color-3 {
        background: rgb(183,71,247);
        background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
        background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
        background: linear-gradient( 90deg, rgba(47,62,158,1) 0%, rgba(52,101,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
    }

        .dbox--color-3 .dbox__icon:after {
            background: #b446f5;
            background: rgba(180, 70, 245, 0.76);
        }

        .dbox--color-3 .dbox__icon:before {
            background: #e284ff;
            background: rgba(226, 132, 255, 0.66);
        }

        .dbox--color-3 .dbox__icon > i {
            background: #8150e4;
        }
</style>
<div class="col-full" style="position:relative;" ng-controller="Partner_PaymentDue">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />


    <div class="box" style="height:500px;">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> My Payment Dues</h3>
            <div class="box-tools pull-right">
            </div>
        </div>



        <div class="container" style="padding-left: 200px;">
            <div class="row">
                <!--  <div class="col-md-4">

                      <div class="dbox dbox--color-1">

                          <div class="dbox__icon">
                              <i class="glyphicon glyphicon-cloud"></i>

                          </div>
                          <div class="dbox__body">

                              <span class="dbox__count">{{PaymentDue.TotalInvoiceValue | number:0}}</span>
                              <span class="dbox__title"><a style="color:white;" href="@Url.Content("~/Order/PaymentDuesByWeekNew?Tag=Total Invoice Report&Week=")" class="payment-due-link">Total Invoice Value</a></span>
                          </div>

                          <div class="dbox__action">

                          </div>
                      </div>

                  </div>-->
                <div class="col-md-4">
                    <div class="dbox dbox--color-2">
                        <div class="dbox__icon">
                            <i class="glyphicon glyphicon-download"></i>
                        </div>
                        <div class="dbox__body">
                            <a style="color:white;" href="@Url.Content("~/Order/PaymentDuesByWeekNew?Tag=Total Invoice Outsatnding&Week=")" class="payment-due-link">
                                <span></span>
                                <span class="dbox__count"> {{PaymentDue.TotalOutstanding | number:0}}</span>
                                <span class="dbox__title">
                                    Total Invoice Outsatnding
                                </span>
                            </a>
                        </div>

                        <div class="dbox__action">

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dbox dbox--color-3">
                        <div class="dbox__icon">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        <div class="dbox__body">
                            <a style="color:white;" href="@Url.Content("~/Order/PaymentDuesByWeekOutstanding?Tag=Total Invoice Overdue&Week=")" class="payment-due-link">
                                <span></span>
                                <span class="dbox__count">{{PaymentDue.TotalOverDue | number:0}}</span>
                                <span class="dbox__title">
                                    Total Invoice Overdue
                                </span>
                            </a>
                        </div>

                        <div class="dbox__action">

                        </div>
                    </div>
                </div>
            </div>
        </div>













        <!--


        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="dbox dbox--color-1">
                        <div class="dbox__icon">
                            <i class="glyphicon glyphicon-cloud"></i>
                        </div>
                        <div class="dbox__body">
                            <span> <a href="@Url.Content("~/Order/PaymentDuesByWeekNew?Tag=Total Invoice Report&Week=")" class="payment-due-link"></span>

                            <div class="wrap-col">
                                <div class="stats-box box-green p-10">

                                    <h3 class="paymentdue-title"><small><i class="fa fa-inr"></i> </small>{{PaymentDue.TotalInvoiceValue | number:0}}</h3>
                                    <span>Total Invoice Value</span>
                                    <i class='fas fa-file-invoice fa-3x'></i>

                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Content("~/Order/PaymentDuesByWeekNew?Tag=Total Outsatnding Amount Report&Week=")" class="payment-due-link">
                                <div class="wrap-col">
                                    <div class="stats-box box-purple p-10">
                                        <h3 class="paymentdue-title"><small><i class="fa fa-inr"></i></small> {{PaymentDue.TotalOverDue | number:0}}</h3>
                                        <span> Total Outsatnding Amount</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Content("~/Order/PaymentDuesByWeekNew?Tag=Total Overdue Amount&Week=")" class="payment-due-link">
                                <div class="wrap-col">
                                    <div class="stats-box box-cyan p-10">
                                        <h3 class="paymentdue-title"><small><i class="fa fa-inr"></i></small> {{PaymentDue.TotalOverDue | number:0}}</h3>
                                        <span> Total Overdue Amount</span>
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                        @*<div class="col-md-4">
                               <div class="wrap-col">
                                   <div class="payment-box p-10">

                                       <h3 class="paymentdue-title"><small><i class="fa fa-inr"></i></small> {{formatNumber(PaymentDue.TotalOverDue)}}</h3>
                                       <span>Overdue Amount</span>

                                   </div>
                               </div>
                        </div>*@
                    </div>

                </div>



                <!-- <div class="col-md-4 text-center">
                <img alt="over-due" src="~/Assets/images/overdue.png" style="max-width:140px" />
            </div>-->
        <!--</div>

        <hr style="margin:0px 0px 10px 0px" />-->
        <!--   <div class="row">

            <div class="col-md-3">
                <div class="wrap-col">
                    <a href="@Url.Content("~/Order/PaymentDuesByWeek?Week=1")" class="payment-due-link">
                        <div class="stats-box box-purple p-10">
                            <h3 class="ng-binding">{{PaymentDue.Week1 | number:0}}</h3>
                            <i class="fa fa-calendar">
                                <img alt="">
                            </i>
                            &nbsp;&nbsp;&nbsp;
                            <span>First Week</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-col">
                    <a href="@Url.Content("~/Order/PaymentDuesByWeek?Week=2")" class="payment-due-link">
                        <div class="stats-box box-red p-10">
                            <h3 class="ng-binding">{{PaymentDue.Week2 | number:0}}</h3>
                            <i class="fa fa-calendar">
                                <img alt="">
                            </i>
                            &nbsp;&nbsp;&nbsp;
                            <span>Second Week</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-col">
                    <a href="@Url.Content("~/Order/PaymentDuesByWeek?Week=3")" class="payment-due-link">
                        <div class="stats-box box-green p-10">
                            <h3 class="ng-binding">{{PaymentDue.Week3 | number:0}}</h3>
                            <i class="fa fa-calendar">
                                <img alt="">
                            </i>
                            &nbsp;&nbsp;&nbsp;
                            <span>Third Week</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-col">
                    <a href="@Url.Content("~/Order/PaymentDuesByWeek?Week=4")" class="payment-due-link">
                        <div class="stats-box box-cyan p-10">
                            <h3 class="ng-binding">{{PaymentDue.Week4 | number:0}}</h3>
                            <i class="fa fa-calendar">
                                <img alt="">
                            </i>
                            &nbsp;&nbsp;&nbsp;
                            <span>Fourth Week</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-col">
                    <a href="@Url.Content("~/Order/PaymentDuesByWeekNew?Week=")" class="payment-due-link">
                        <div class="stats-box box-grey p-10">
                            <h3 class="ng-binding">{{PaymentDue.WeekGreater4 | number:0}}</h3>
                            <i class="fa fa-calendar">
                                <img alt="">
                            </i>
                            &nbsp;&nbsp;&nbsp;
                            <span>Greater than 1 Month</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>-->

    </div>

</div>

       




@section Scripts{
      <!------<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   Include the above in your HEAD tag---------->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/angular-libs/angular.min.js"></script> 

    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });

        });

    </script>

}
