﻿@{
    ViewBag.Title = "Payment Dues By Week";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />

<div class="col-full" style="position:relative;">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> My Payment Dues for Week <span id="week"></span></h3>
            <div class="box-tools pull-right">
                  <button class="btn btn-success btn-sm" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative"
            ng-click="downloadSerialNumbers()">
        &nbsp;<i class="fa fa-download"></i> &nbsp; DOWNLOAD SERIAL NUMBERS
    </button>

            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <table id="jqGridPaymentDues" class="table table-bordered table-demands"></table>
                    <div id="pager"></div>

                    @*<input type="button" value="Get Selected Rows" onclick="getSelectedRows()" />*@
                </div>

            </div>

        </div>
    </div>




</div>




@section Scripts{

    
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });
            if (parseInt(getQueryStringParameter("Week")) <= 4) {
                $("#week").text(getQueryStringParameter("Week"));
            } else {
                $("#week").text("Greater than 4");
            }
        });

        function _invoiceLink(cellvalue, options, rowObject) {
            var _invoiceDetailsUrl = "https://edi.redingtonb2b.in/SAPInvoiceViewer/?InvoiceNo=" + cellvalue;
            return $("<a href='" + _invoiceDetailsUrl + "' target='_blank' style='text-decoration:underline; color:#1887c7' \">" + cellvalue + "</a>").prop('outerHTML');
        }

        $(function () {
            var currids = [];
            debugger;
            $("#jqGridPaymentDues").jqGrid({
                url: '@Url.Content("~/api/Order/GetPaymentDuesByWeek")',
                datatype: 'json',
                mtype: 'GET',
                //table header name
                colNames: [ 'Invoice Number', 'Invoice Date', 'Due Date', 'Over Due Days', 'Invoice Value', 'OutStanding Amount'],
                //colModel takes the data from controller and binds to grid
                colModel: [
                    { name: "InvoiceNumber", formatter: _invoiceLink, key: true }, { name: "InvoiceDate", formatter: 'date', formatoptions: { newformat: 'd/m/y' } }, { name: "DueDate" }, { name: "OverDueDays" }, { name: "InvoiceValue", formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' }},
                    { name: "OutstandingAmount", formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' } }],
                loadonce: true,
                multiSort: true,
                viewrecords: true,

                rowNum: 20,
                rowList: [20, 30, 50],
                rownumbers: true,
                rownumWidth: 50,
                //multiselect: true,
                postData: { 'CustomerCode': $("#hfCustomerCode").val(), 'Week': getQueryStringParameter("Week") },
                jsonReader:
                {
                    root: "Data",
                    page: "PageNumber",
                    total: "TotalPages",
                    records: "TotalRecords",
                    repeatitems: false,
                    Id: "0"
                },
                emptyrecords: 'No records found',
                loadui: 'disable',
                autowidth: true,
                pager: jQuery('#pager'),
                onSelectRow: function (a, b, c) {
                    if (this.p.selarrrow.length === currids.length) {
                        $('#cb_' + $.jgrid.jqID(this.p.id), this.grid.hDiv)[this.p.useProp ? 'prop' : 'attr']("checked", true);
                    }
                },
                gridComplete: function () {
                    currids = $(this).jqGrid('getDataIDs');
                }
            }).navGrid('#pager', {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                closeAfterSearch: false
            });
        });
        function getSelectedRows() {
            var grid = $("#jqGridPaymentDues");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                alert("No rows are selected");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var invoiceslst = [];


                for (var i = 0; i < selectedIDs.length; i++) {
                    var invoices = {};
                    rowData = grid.jqGrid("getLocalRow", selectedIDs[i]);
                    invoices.invoiceNumber = rowData.InvoiceNumber;
                    invoices.amount = rowData.InvoiceValue;
                    invoices.issueDate = rowData.InvoiceDate;
                    invoices.dueDate = rowData.DueDate;
                    invoiceslst.push(invoices);
                }


                $http({
                    method: 'GET',
                    url: $scope._baseUrl + 'api/Partner/GetInvoiceSelectedList?Invoiceslst=' + invoiceslst,
                    headers: { 'Content-Type': 'application/json' },
                }).then(function (data, status, header, config) {

                    console.log("Payment Due Response");
                    console.log(data.data.Data);

                    //$scope.PaymentDue = data.data.Data;

                    NProgress.done();
                }, function (data, status, header, config) {
                    NProgress.done();
                });


            }
        }

        function getQueryStringParameter(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            return match && decodeURIComponent(match[1].replace(/\+/g, " "));
        }

    </script>
}

