﻿
@{
    ViewBag.Title = "PaymentDuesByWeekOutstanding";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />

<div class="col-full" style="position:relative;" ng-controller="PaymentDuesWeekOutstanding">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />
    <input type="hidden" id="Tag" value="@Request.Params["Tag"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i><b>  @Request.Params["Tag"].ToString()</b></h3>
            <div class="box-tools pull-right">

                <div class="form-control-inline date-icon">
                    <input type="text" class="form-control input-date date-picker dateFrom" ng-model="dateFrom" />
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="form-control-inline  date-icon">
                    <input type="text" class="form-control input-date date-picker dateTill" ng-model="dateTill" />
                    <i class="fa fa-calendar"></i>
                </div>
                <button class="btn btn-success btn-sm btn-search" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-search"></i> &nbsp; SEARCH
                </button>
                &nbsp;
                <button class="btn btn-success btn-sm" ng-click="downloadPaymentDuresByWeekNewOut()" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-download"></i> &nbsp; DOWNLOAD
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <table id="jqGridPaymentDues" class="table table-bordered table-demands"></table>
                    <div id="pager"></div>

                    @*<input type="button" value="Get Selected Rows" onclick="getSelectedRows()" />*@
                </div>

            </div>

        </div>
    </div>




</div>




@section Scripts{
    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
    <script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var DateObj = new Date();
            DateObj.setDate(DateObj.getDate() - 7);
            var OrderFrom = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            DateObj = new Date();
            DateObj.setDate(DateObj.getDate());
            var OrderTill = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            $(".dateFrom").val(OrderFrom);
            $(".dateTill").val(OrderTill);


            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });
            if (parseInt(getQueryStringParameter("Week")) <= 4) {
                $("#week").text(getQueryStringParameter("Week"));
            } else {
                $("#week").text("Greater than 4");
            }
        });

        function _invoiceLink(cellvalue, options, rowObject) {
            var _invoiceDetailsUrl = "https://edi.redingtonb2b.in/SAPInvoiceViewer/?InvoiceNo=" + cellvalue;
            return $("<a href='" + _invoiceDetailsUrl + "' target='_blank' style='text-decoration:underline; color:#1887c7' \">" + cellvalue + "</a>").prop('outerHTML');
        }

        $(function () {
            NProgress.start();
            $("#jqGridPaymentDues").jqGrid({
                url: '@Url.Content("~/api/Order/GetPaymentDuesByWeekNew")',
                datatype: 'json',
                mtype: 'GET',
                //table header name
                colNames: ['Invoice Number', 'Invoice Date', 'Due Date', 'Invoice Value', 'Balance Due Amount','Over Due Days'],
                //colModel takes the data from controller and binds to grid
                colModel: [
                    { name: "InvoiceNumber", formatter: _invoiceLink, key: true }, { name: "InvoiceDate" }, { name: "DueDate" },
                    { name: "InvoiceValue", align: 'right', sorttype: 'number', formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' } },
                    { name: "BalanceDueAmount", align: 'right', sorttype: 'number', formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' } }, { name: "OverDueDays", sorttype: 'number', align: 'center'}],
                loadonce: true,
                viewrecords: true,

                rowNum: 20,
                rowList: [20, 30, 50],
                rownumbers: true,
                rownumWidth: 50,
                //multiselect: true,
                postData: { 'CustomerCode': $("#hfCustomerCode").val(), 'Week': getQueryStringParameter("Week") },
                jsonReader:
                {
                    root: "Data",
                    page: "PageNumber",
                    total: "TotalPages",
                    records: "TotalRecords",
                    repeatitems: false,
                    Id: "0"
                },
                loadui: 'disable',
                autowidth: true,
                loadonce: true,
                multiSort: true,
                pager: jQuery('#pager'),
                onSelectRow: function (a, b, c) {
                    if (this.p.selarrrow.length === currids.length) {
                        $('#cb_' + $.jgrid.jqID(this.p.id), this.grid.hDiv)[this.p.useProp ? 'prop' : 'attr']("checked", true);
                    }
                },
                gridComplete: function () {
                    currids = $(this).jqGrid('getDataIDs');
                },
                loadComplete: function () {
                    $(".ui-icon-seek-next").html("<i class='fa fa-angle-right'></i>");
                    $(".ui-icon-seek-end").html("<i class='fa fa-angle-double-right'></i>");

                    $(".ui-icon-seek-prev").html("<i class='fa fa-angle-left'></i>");
                    $(".ui-icon-seek-first").html("<i class='fa fa-angle-double-left'></i>");

                    //Set Open color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        //$(this).parent().css('background', 'red');
                    });

                    //Set Closed Color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#ACE8AA');
                    });

                    //Set Partially Billed Color
                    $('td[title="Partially Billed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#F8FFB9');
                    });

                    //Set Partially Billed Color
                    $('td[title="Invoiced"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#F8FFB9');
                    });

                    //Set Expired Color
                    $('td[title="Expired"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#FFC6C4');
                    });

                    NProgress.done();
                }
            }).navGrid('#pager', {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                closeAfterSearch: false
            });
        });
        function getSelectedRows() {
            var grid = $("#jqGridPaymentDues");
            var rowKey = grid.getGridParam("selrow");

            if (!rowKey)
                alert("No rows are selected");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var invoiceslst = [];


                for (var i = 0; i < selectedIDs.length; i++) {
                    var invoices = {};
                    rowData = grid.jqGrid("getLocalRow", selectedIDs[i]);
                    invoices.invoiceNumber = rowData.InvoiceNumber;
                    invoices.amount = rowData.InvoiceValue;
                    invoices.issueDate = rowData.InvoiceDate;
                    invoices.dueDate = rowData.DueDate;
                    invoiceslst.push(invoices);
                }


                $http({
                    method: 'GET',
                    url: $scope._baseUrl + 'api/Order/GetInvoiceSelectedList?Invoiceslst=' + invoiceslst,
                    headers: { 'Content-Type': 'application/json' },
                }).then(function (data, status, header, config) {

                    console.log("Payment Due Response");
                    console.log(data.data.Data);

                    //$scope.PaymentDue = data.data.Data;

                    NProgress.done();
                }, function (data, status, header, config) {
                    NProgress.done();
                });


            }
        }

        function getQueryStringParameter(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            return match && decodeURIComponent(match[1].replace(/\+/g, " "));
        }

    </script>
}


