﻿@{
    ViewBag.Title = "My Pending Cheques";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />

<div class="col-full" style="position:relative;" ng-controller="Pending_ChequeDetails">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <div class="box">
        <div class="box-header with-border">
            <h3 class="page-header"><i class="fa fa-files-o"></i> My Transaction Cheques - Pending </h3>
            <div class="box-tools pull-right">

                <div class="form-control-inline date-icon">
                    <input type="text" class="form-control input-date date-picker dateFrom" ng-model="dateFrom" />
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="form-control-inline  date-icon">
                    <input type="text" class="form-control input-date date-picker dateTill" ng-model="dateTill" />
                    <i class="fa fa-calendar"></i>
                </div>
                <button class="btn btn-success btn-sm btn-search" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-search"></i> &nbsp; SEARCH
                </button>
                &nbsp;
                <button class="btn btn-success btn-sm" ng-click="downloadPendingcheques()" style="border-radius:0px; padding:5.5px 10px; top:-1px; position:relative">
                    &nbsp;<i class="fa fa-download"></i> &nbsp; DOWNLOAD
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <table id="jqGridPendingCheques" class="table table-bordered table-demands"></table>
                    <div id="pager"></div>
                </div>

            </div>

        </div>
    </div>




</div>




@section Scripts{

    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
<script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>
<script src="~/Assets/js/jquery.jqgrid.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".others-menu").addClass("active");
            NProgress.configure({ parent: '.box' });
            var DateObj = new Date();
            DateObj.setDate(DateObj.getDate() - 7);
            var OrderFrom = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            DateObj = new Date();
            DateObj.setDate(DateObj.getDate());
            var OrderTill = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            $(".dateFrom").val(OrderFrom);
            $(".dateTill").val(OrderTill);
        });


        $(function () {

            $("#jqGridPendingCheques").jqGrid({
                url: '@Url.Content("~/api/Order/GetPendingCheques")',
                datatype: 'json',
                mtype: 'GET',
                //table header name
                colNames: ['Invoice Number', 'Invoice Date', 'Due Date', 'Invoice Value'],
                //colModel takes the data from controller and binds to grid
                colModel: [{ name: "InvoiceNumber" }, { name: "InvoiceDate" }, { name: "DueDate" }, { name: "InvoiceValue", sorttype: 'number', align: 'right', formatter: "number", formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0, defaultValue: '0' } },
                    ],
                height: '100%',
                rowNum: 20,
                pager: jQuery('#pager'),
                rowList: [10, 20, 30, 40, 50],
                viewrecords: true,
                caption: '',
                emptyrecords: 'No records found',
                jsonReader:
                {
                    root: "Data",
                    page: "PageNumber",
                    total: "TotalPages",
                    records: "TotalRecords",
                    repeatitems: false,
                    Id: "0"
                },
                loadui: 'disable',
                
                multiSort: true,
                autowidth: true,
                postData: { 'CustomerCode': $("#hfCustomerCode").val() },
                beforeSelectRow: function (rowid, e) {
                    return false;
                },
                loadError: function (xhr, st, err) {
                    console.log(err);
                },
                loadBeforeSend: function () {

                    NProgress.start();
                },
                loadComplete: function () {
                    $(".ui-icon-seek-next").html("<i class='fa fa-angle-right'></i>");
                    $(".ui-icon-seek-end").html("<i class='fa fa-angle-double-right'></i>");

                    $(".ui-icon-seek-prev").html("<i class='fa fa-angle-left'></i>");
                    $(".ui-icon-seek-first").html("<i class='fa fa-angle-double-left'></i>");

                    //Set Open color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        //$(this).parent().css('background', 'red');
                    });

                    //Set Closed Color
                    $('td[title="Closed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#ACE8AA');
                    });

                    //Set Partially Billed Color
                    $('td[title="Partially Billed"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#F8FFB9');
                    });

                    //Set Expired Color
                    $('td[title="Expired"]', '#jqGridDemandsList').each(function (i) {
                        $(this).parent().css('background', '#FFC6C4');
                    });

                    NProgress.done();
                }
            }).navGrid('#pager', {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                closeAfterSearch: false
            });

        });

    </script>
}