﻿@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />
<style>
    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-1:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            cursor: pointer;
        }
</style>

<div class="col-full" style="position:relative;">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />
    <section class="content box box-success">
        <!-- Small boxes (Stat box) -->
        <div class="col-full " ng-controller="Partner_Dashboard" style="position:relative;">
            <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

            <h3 class="page-header" style="">
                <div class="box-header with-border">
                    <h3 class="page-header"><i class="fa fa-files-o"></i> DashBoard</h3>
                    <div class="box-tools pull-right">

                        <span class="form-control-inline date-icon">
                            <input type="text" id="Fromdate" class="form-control input-date date-picker from-date ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="dateFrom" style="line-height:0 !important">
                            <i class="fa fa-calendar" style="top:7px; font-size:16px;"></i>
                        </span>
                        <span class="form-control-inline  date-icon">
                            <input type="text" id="Todate" class="form-control input-date date-picker till-date ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="dateTill" style="line-height:0 !important">
                            <i class="fa fa-calendar" style="top:7px; font-size:16px;"></i>
                        </span>
                        <button class="btn btn-success btn-sm" style="border-radius:0px; padding:3.5px 10px; top:0px; position:relative" id="GET_Dashboard" ng-click="loadDashboardStats()">
                            &nbsp;<i class="fa fa-search"></i> &nbsp;
                        </button>
                    </div>
                </div>



            </h3>
            <div class="clearfix">

            </div>
            <br />
            <div class="row">


                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box" >
                        <a href="javascript:clickTag('OVERALL_ORDERS');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Overall orders</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">
                                        {{formatNumber(dashboardset.overall_orders)}}
                                    </h3>
                                    <i class="fa fa-list icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger">100%</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('AWAITING_FOR_INVOICE');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Awaiting for Invoice</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">

                                        {{dashboardset.awaiting_for_invoice}}

                                    </h3>
                                    <i class="fa fa-hourglass-1 icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{dashboardset.awaiting_for_invoiceper |number:0}} %
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('AWAITING_FOR_SCANNING');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Awaiting for Scanning</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">

                                        {{dashboardset.awaiting_for_scanning}}

                                    </h3>
                                    <i class="fa fa-spinner icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{dashboardset.awaiting_for_scanningper |number:0}} %
                                </p>
                            </div>
                        </a>
                    </div>
                </div>



            </div><br />
            <div class="row">
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('AWAITING_FOR_DESPATCH');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Awaiting for Despatch</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">
                                        {{dashboardset.awaiting_for_despatch}}

                                    </h3>
                                    <i class="fa fa-spinner icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{dashboardset.awaiting_for_despatchper |number:0}} %
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('SHIPMENT_IN_TRANSIT');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Shipment In-Transit</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">

                                        {{dashboardset.shipment_in_transit}}

                                    </h3>
                                    <i class="fa fa-truck icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{ dashboardset.shipment_in_transitper |number:0  }} %
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('SHIPMENT_DELIVERED');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">Shipment Delivered</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">

                                        {{dashboardset.shipment_delivered}}
                                    </h3>
                                    <i class="fa fa-truck icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{dashboardset.shipment_deliveredper |number:0}}%
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card-1 box box">
                        <a href="javascript:clickTag('POD_AVAILABLE');" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-title text-md-center text-xl-left">POD Available</p>
                                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 ng-binding">

                                        {{dashboardset.pod_available}}

                                    </h3>
                                    <i class="fa fa-check icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                                </div>
                                <p class="mb-0 mt-2 text-danger ng-binding">
                                    {{dashboardset.pod_availableper |number:0}} %
                                </p>
                            </div>
                        </a>
                    </div>
                </div>


            </div><br />
        </div>
    </section>

</div>



@section Scripts{
    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var DateObj = new Date();
            DateObj.setDate(DateObj.getDate() - 7);
            var OrderFrom = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            DateObj = new Date();
            DateObj.setDate(DateObj.getDate());
            var OrderTill = ('0' + (DateObj.getDate())).slice(-2) + '-' + ('0' + (DateObj.getMonth() + 1)).slice(-2) + '-' + DateObj.getFullYear();

            $("#Fromdate").val(OrderFrom);
            $("#Todate").val(OrderTill);
        });
    </script>
    <script>
        function clickTag(value) {
            var Fromdate = $("#Fromdate").val();
            var Todate = $("#Todate").val();
            window.location.href = "Order/PartnerEnquiry?Fromdate=" + Fromdate + "&Todate=" + Todate + "&Tag=" + value;

        }

    </script>

}

