﻿@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css" />

<div class="col-full" ng-controller="Partner_Profile" style="position:relative;">
    <input type="hidden" id="hfCustomerCode" value="@Session["CustomerCode"]" />

    <h3 class="page-header" style=""><i class="fa fa-id-card-o"></i>
        My Profile
    </h3>


    <div class="row">
        <div class="col-md-4">

            <!-- Profile Image -->
            <div class="box box-success">
                <div class="box-body box-profile">
                    <div class=" text-center">
                        <i class="fa fa-user-circle-o" style="font-size:75px; color:#555; margin-top:15px;"></i>
                    </div>

                    <h3 class="profile-username text-center">
                        {{Profile.CUSTOMER_NAME}}
                    </h3>

                    <p class="text-muted text-center profile-email">{{Profile.EmailAddress1}}</p>

                    <ul class="list-group list-group-unbordered profile-list">
                        <li class="list-group-item">
                            <b>PARTNER CODE</b> <a class="pull-right">{{Profile.CUSTOMER_CODE}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>CONTACT PERSON</b> <a class="pull-right">{{Profile.CONTACT_PERSON1}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>MOBILE</b> <a class="pull-right">{{Profile.PHONE_NUMBER1}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>PHONE</b> <a class="pull-right">{{Profile.PHONE_NUMBER2}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>FAX</b> <a class="pull-right">{{Profile.FAX_NUMBER}}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Profile Details</h3>

                </div>

                <div class="box-body box-profile" style="font-family:'Roboto',sans-serif">

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label clearfix">CREDIT LIMIT</label><br />
                            <div><i class="fa fa-inr profile-inr"></i> {{Profile.CREDIT_LIMIT | number:0}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label clearfix">HIGHEST EXPOSURE DATE</label><br />
                            <div>{{Profile.HIGHST_EXPOSURE_DATE}}</div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label clearfix">HIGHEST EXPOSURE</label><br />
                            <div><i class="fa fa-inr profile-inr"></i> {{Profile.HIGHEST_EXPOSURE | number:0}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label clearfix">LAST PAYMENT</label><br />
                            <div><i class="fa fa-inr profile-inr"></i> {{Profile.LAST_PAYMENT | number:0}}</div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label clearfix">LAST INVOICE</label><br />
                            <div><i class="fa fa-inr profile-inr"></i> {{Profile.LAST_INVOICE_VALUE | number:0}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label clearfix">NO. OF COVER CHEQUE(S)</label><br />
                            <div>{{Profile.NoOfCoversChq}}</div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-sm-7">
                            <label class="form-label clearfix">ADDRESS</label><br />
                            <div>
                                {{Profile.ADDRESS_1}},<br />
                                {{Profile.ADDRESS_2}},<br />
                                {{Profile.ADDRESS_3}},<br />
                                {{Profile.ADDRESS_4}}, {{Profile.ADDRESS_5}} - {{Profile.POST_CODE}},
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label clearfix">GST NUMBER</label><br />
                            <div>{{Profile.CompanyRegisterNumber}}</div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
        <!-- /.col -->
    </div>


</div>


@section Scripts{
    <script src="~/Assets/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/angular-scripts/order-controller.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            // $(".others-menu").addClass("active");

        });

    </script>

}


