﻿@model PartnerDeclarationPortal.Models.FinacialUpload

@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout_Partner.cshtml";
}

<div class="box box-success">

    <div class="box-header with-border">
        <h3 class="box-title">Upload Financial Year Plan</h3>

        
                 

    </div>
    <div class="box-body box-profile">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <br>
                    <p class="text-center" style="font-size:14px; margin-top:50px">
                        Dear User,<br>
                        Click the below button and upload your quarter wise Financial.
                    </p>
                    @using (Html.BeginForm("UploadFile", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="row">

                            <div class="col-md-4" style="/*border-right:solid 1px #eaeaea;*/  min-height:20vh">

                                <p class="" style="font-size:14px; width:170px; margin:0 auto; text-align:left">
                                    <b> Financial Type</b>

                            </div>
                            <div class="column">
                                @Html.DropDownList("FynType", new List<SelectListItem>
                                  () {
                                new SelectListItem { Text = "Select Type", Value = "" },
                                  new SelectListItem { Text = "Audited", Value = "Audited" },
                                  new SelectListItem { Text = "Provisional", Value = "Provisional" } }, new { @class = "form-control" })
                            </div>
                  
                          

                            <div class="col-md-4" style="/*border-right:solid 1px #eaeaea;*/ min-height:20vh">

                                <p class="" style="font-size:14px; width:170px; margin:0 auto; text-align:left">
                                    <b>Financial year</b>
                            </div>
                            <div class="column">

                                @Html.DropDownListFor(x => x.Year, new SelectList(ViewBag.Years, "Text", "Value"), "Select Year", new { htmlAttributes = new { @class = "form-control" },
                               @style = "height: calc(2.25rem + 2px);" })


                            </div>


                        </div>

                        <div class="col-sm-12 col-md-4 col-lg-8" style="text-align:right;font-size:medium;">

                            @Html.TextBox("file", "", new { @type = "file", @multiple = "multiple" }) <br />
                            <input type="file" id="uploadProjectionPlan" name="cart-file" upload-files="" style="display:none" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
                            @ViewBag.Message


                      
                                <button class="btn btn-sm btn-success right" style="border-radius:0px; padding:10px 10px; top:-1px; position:relative">
                                    <i class="fa fa-download"></i> Upload
                                </button>
                            </div>


                    
                        <br/>
                        


                    }
                    </div>
                </div>
            </div>
        </div>
    </div>



