﻿
@{
    ViewBag.Title = "WentWrong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="text-center re-wrong__page">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <div>
                            <img class="m-auto re-wrong__image" src="~/Assets/images/something-wrong.png" alt="">
                        </div>
                        <div class="re-wrong__title primary-font">Something Went Wrong!</div>
                        <div class="re-wrong__description primary-font">It looks like something went wrong on the page you were accessing, Please try <br> again or refresh the page.</div>
                        <a href="@Url.Content("~/Account/Login")" class="re-wrong__btn primary-font">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

